.siteHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2vw var(--page-padding) 0;
  color: white;
}

.logoWrapper {
  width: 9vw;
}

.menuButton {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 30px;
  font-weight: 500;
  font-size: 1.3vw;
  display: flex;
  align-items: center;
}

.menuIcon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 10px;
  margin-left: 15px;

  &::before,
  &::after {
    content: "";
    height: 2px;
    border-radius: 2px;
    width: 100%;
    background: currentColor;
  }
}
